
.navbar-default {
  background-color: #D56 !important;
  background-image: none;
  border: none;
  border-radius: 0;
}

.body {
    font-family: "Quicksand",sans-serif;
    font-size:16px;
}

.p {
    font-family: "Quicksand",sans-serif;
    font-size:16px;
}



